// Bootstrap
@import 'bootstrap/bootstrap.less';

// Slick carousel
@import 'vendor/slick.less';

// Custom icon set
@import 'icons.less';

/**
 * LAYOUT
 */

html,body,.container-fluid{
	height: 100%;
	background: @black;
}

.container-fluid{
	min-width: 320px;
	padding: 0;
}

/**
 * TYPE & LINKS
 */

p{
	font-famiy: ''
}

a{
	color: @white;
	&.icon-link{
		color: @white;
	}
	&:hover{
		text-decoration: none;
	}
}

/**
 * ICONOGRAPHY
 */

.icon{
	font-size: 24px;
	padding: 15px;
	&.icon-envelope{
		font-size: 36px;
		position: relative;
		top: 8px
	}
}

/**
 * SLIDES
 */

.slide{
	height: 100%;
	padding-top: 50px;
	position: relative;
	z-index: 2;
}

.contact{
	margin-top: 16px;
	a{
		.opacity(0.75);
		.transition-duration(0.3s);
		&:hover{
			.opacity(1);
		}
	}
}

/**
 * VIDEOS
 */
#video-bg{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
}

.video-cover{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 2;
	background: rgba(0,0,0,0.80);
}

/**
 * CAROUSEL
 */

#carousel{
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	position: relative;
	z-index: 3;
	>div{
		width: 100%;
		height: 100%;
		padding: 20px;
		text-align: center;
		border: 1px solid black;
		h1{
			color: @white;
		}
		.welcome{
			max-width: 500px;
			margin: 0 auto;
			h1{
				line-height: 1.4;
			}
		}
	}
}

@media(min-width: @screen-sm-min){
	h1{
		font-size: 50px;
	}
	.slide{
		padding-top: 100px;
	}
	#carousel{
		>div{
			.welcome{
				max-width: 700px;
			}
			.icon{
				font-size: 36px;
				margin: 20px;
				&.icon-envelope{
					font-size: 55px;
				}
			}
		}
	}
}